@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Inter";
  src: url(/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
:root {
  font-family: "Inter";
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;

  background: #252525;
  font-size: 15px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;

  --primary-01:light-dark(#fff,#3c3c3c);
  --primary-02:light-dark(#f2f2f2,#151515);
  --primary-03:light-dark(#f3f3f3,#252525);
  --primary-04:light-dark(black,white);

  --theme-dark: white;
  --hover-gray:#3c3c3c;
  --theme-gray:#1d1d1d;

  --theme-yellow:#e0ff72;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: 500;
  padding: 4px 0;
  display: none;
  position: absolute;
  color: var(--primary-04);
  font-size: 13px;
  background: var(--primary-01);
  border-radius: 4px;
  min-width: 180px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.block {display: block;}
.none{display: none;}

.sidebar_folders::-webkit-scrollbar,
.sidebar_shared_folder::-webkit-scrollbar {
  display: none;
}
.sidebar_folders,
.sidebar_shared_folder{
  scrollbar-width: none;
}
