@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Inter";
  src: url(/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
:root {
  font-family: "Inter";
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;

  background: #252525;
  font-size: 15px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;

  --primary-01:light-dark(#fff,#1d1d1d);
  --primary-02:light-dark(#f2f2f2,#151515);
  --primary-03:light-dark(#f3f3f3,#252525);
  --primary-04:light-dark(#252525,white);
  --primary-05:light-dark(#c2dcef4d,#3c3c3c);
  --primary-06:light-dark(#f2f2f2,#252525);
  --primary-07:light-dark(#ffff,#0000);

  --theme-dark: white;
  --hover-gray:#3c3c3c;
  --theme-gray:#1d1d1d;

  --yellow-primary-01:#e0ff72;
  --yellow-primary-02:#EDFFA5;
  --yellow-primary-03:#EDFFA1;

  /*Color themes*/
  --purple-primary-01:light-dark(#faf6ff,#4a0589);
  --orange-primary-01:light-dark(#f9f4f0,#c54b0c);
  --red-primary-01:light-dark(#f7ecec,#b90909);
  --pink-primary-01:light-dark(#f5ecf0,#a7094f);

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding: 4px 0;
  display: none;
  position: absolute;
  color: var(--primary-04);
  font-size: 13px;
  background: var(--primary-06);
  border-radius: 4px;
  min-width: 180px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.block {display: block;}
.none{display: none;}

.sidebar_folders::-webkit-scrollbar,
.sidebar_shared_folder::-webkit-scrollbar {
  display: none;
}
.sidebar_folders,
.sidebar_shared_folder{
  scrollbar-width: none;
}

@supports(backdrop-filter: blur(4rem)){
    .blur-effect{
        background: hsl(0 0% 100% / 0.3);
        backdrop-filter: blur(4rem);
    }
}
